<h1><%= @chat_room.name %></h1>

<% @messages.each do |message| %>
  <p><%= message.user.username %>: <%= message.body %></p>
<% end %>

<%# 後で非同期に変更する %>
<%= form_with model: [@chat_room, @message], local: true do |form| %>
  <div>
    <%= form.text_area :body, placeholder: 'メッセージを入力してください' %>
  </div>
  <%= form.submit '送信' %>
  
  <% if @message.errors.any? %>
    <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<%= paginate @messages %>